Business Use Case : Find number of similar words in the input text and store those words and count of respective words in dataframe

In [24]:
Text = '''A computer is a machine that can be programmed to carry out sequences of arithmetic or logical 
operations automatically. Modern computers can perform generic sets of operations known as programs. 
These programs enable computers to perform a wide range of tasks. 
A computer system is a complete computer that includes the hardware, operating system, and peripheral equipment needed and used for full operation. 
This term may also refer to a group of computers that are linked and function together, such as a computer network or computer cluster. 
A broad range of industrial and consumer products use computers as control systems. 
Simple special-purpose devices like microwave ovens and remote controls are included, 
as are factory devices like industrial robots and computer-aided design, as well as general-purpose devices like personal computers and mobile devices like smartphones. 
Computers power the Internet, which links hundreds of millions of other computers and users hardware.'''

In [25]:
import pandas as pd
import re

Clean the text by removing special characters from the input text

In [4]:
new_text = re.sub(r'[^a-z A-Z 0-9 ]', '', Text)

In [23]:
new_text

'A computer is a machine that can be programmed to carry out sequences of arithmetic or logical operations automatically Modern computers can perform generic sets of operations known as programs These programs enable computers to perform a wide range of tasks A computer system is a complete computer that includes the hardware operating system and peripheral equipment needed and used for full operation This term may also refer to a group of computers that are linked and function together such as a computer network or computer cluster A broad range of industrial and consumer products use computers as control systems Simple specialpurpose devices like microwave ovens and remote controls are included as are factory devices like industrial robots and computeraided design as well as generalpurpose devices like personal computers and mobile devices like smartphones Computers power the Internet which links hundreds of millions of other computers and users hardware'

Split the text and store each word in the list

In [26]:
input_list = re.split('\s+', Text)

In [13]:
input_list.append('so')

In [27]:
input_list

['A',
 'computer',
 'is',
 'a',
 'machine',
 'that',
 'can',
 'be',
 'programmed',
 'to',
 'carry',
 'out',
 'sequences',
 'of',
 'arithmetic',
 'or',
 'logical',
 'operations',
 'automatically.',
 'Modern',
 'computers',
 'can',
 'perform',
 'generic',
 'sets',
 'of',
 'operations',
 'known',
 'as',
 'programs.',
 'These',
 'programs',
 'enable',
 'computers',
 'to',
 'perform',
 'a',
 'wide',
 'range',
 'of',
 'tasks.',
 'A',
 'computer',
 'system',
 'is',
 'a',
 'complete',
 'computer',
 'that',
 'includes',
 'the',
 'hardware,',
 'operating',
 'system,',
 'and',
 'peripheral',
 'equipment',
 'needed',
 'and',
 'used',
 'for',
 'full',
 'operation.',
 'This',
 'term',
 'may',
 'also',
 'refer',
 'to',
 'a',
 'group',
 'of',
 'computers',
 'that',
 'are',
 'linked',
 'and',
 'function',
 'together,',
 'such',
 'as',
 'a',
 'computer',
 'network',
 'or',
 'computer',
 'cluster.',
 'A',
 'broad',
 'range',
 'of',
 'industrial',
 'and',
 'consumer',
 'products',
 'use',
 'computers',
 'as',
 'control',
 'systems.',
 'Simple',
 'special-purpose',
 'devices',
 'like',
 'microwave',
 'ovens',
 'and',
 'remote',
 'controls',
 'are',
 'included,',
 'as',
 'are',
 'factory',
 'devices',
 'like',
 'industrial',
 'robots',
 'and',
 'computer-aided',
 'design,',
 'as',
 'well',
 'as',
 'general-purpose',
 'devices',
 'like',
 'personal',
 'computers',
 'and',
 'mobile',
 'devices',
 'like',
 'smartphones.',
 'Computers',
 'power',
 'the',
 'Internet,',
 'which',
 'links',
 'hundreds',
 'of',
 'millions',
 'of',
 'other',
 'computers',
 'and',
 'users',
 'hardware.']

Convert list into pandas dataframe

In [35]:
df = pd.DataFrame(list(input_list), columns = ['Words'])

In [33]:
df['Words'] = 'hardware.'

In [36]:
df

         Words
0            A
1     computer
2           is
3            a
4      machine
..         ...
144      other
145  computers
146        and
147      users
148  hardware.

[149 rows x 1 columns]

Now get the count of words from the dataframe and store them in dataframe

In [37]:
df1 = pd.DataFrame(df['Words'].value_counts())
df1.index.name = 'Words'
df1.columns = ['count']

In [42]:
df1.loc['hardware,']

count    1
Name: hardware,, dtype: int64